html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  font-style: italic;
  margin-bottom: 10px;
}

p {
  margin-top: 10px;
  margin-bottom: 5px;
}

.story_box {
  width: 220px;
}

.by {
  display: inline;
  color: slategray;
  font-size: 11pt;
}

.author {
  text-transform: uppercase;
}

#comment_button {
  float: left;
  margin-right: 5px;
  background-color: steelblue;
  border: solid steelblue 1px;
  padding-top: 4px;
}

#comments {
  color: steelblue;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 11pt;
}
