html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  font-style: italic;
  margin-bottom: 0px;
  font-size: 26px;
  margin-top: 5px;
}

p {
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 11pt;
}

.story_box {
  width: 180px;
}

.by {
  display: inline;
  color: slategray;
  font-size: 8pt;
}

.author {
  text-transform: uppercase;
}

#comment_button {
  float: left;
  margin-right: 5px;
  background-color: steelblue;
  border: solid steelblue 1px;
  padding-top: 1px;
  padding-left: 1px;
}

#comments {
  color: steelblue;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 8pt;
}
