html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  font-size: 11pt;
  margin-bottom: 0px;
}

p {
  font-size: 10pt;
  margin-top: 2px;
  line-height: 1.4;
}

.story_box {
  width: 370px;
}

.by {
  display: inline;
  color: slategray;
  font-size: 8pt;
}

.author {
  text-transform: uppercase;
}

.time {
  display: inline;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 8pt;
  color: darkred;
}

.right_image {
  float: right;
  margin-left: 5px;
  margin-top: 5px;
}
