html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  font-size: 20pt;
  margin-bottom: 5px;
}

p {
  font-size: 14pt;
}

.story_box {
  width: 700px;
}

.by {
  display: inline;
  color: slategray;
  font-size: 12pt;
}

.author {
  text-transform: uppercase;
}

.time {
  display: inline;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 11pt;
}

.right_image {
  float: right;
  width: 25%;
}
