html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  font-size: 16pt;
}

.three_sections {
  width: 800px;
}

.section {
  width: 33%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.middle {
  border-left: solid lightgray 1px;
  border-right: solid lightgray 1px;
}
